// color
$primary: #3498db;
$success: #2ecc71;
$danger:#e74c3c;
$notice:#f39c12;
$ghost: transparent;
$text:#333333;
$link:  #2980b9;

// space


// size
// line-hight
$large-line-hight: 34px;
$normal-line-hight: 28px;
$small-line-hight: 22px;
// border-radius
$large-border-radius: 14px;
$normal-border-radius: 12px;
$small-border-radius: 10px;


