@use 'sass:color';
@import '../../config/styles/them.scss';


.btn {
  color: $text;
  cursor: pointer;
  border: solid;
  overflow: hidden;
  position: relative;


  &-waterWave {
    position: absolute;
    border-radius: 100%;

  }

  &-primary {
    background: $primary;
    border-color: $primary;
    color: $font-color;

    &:hover {
      background: color.adjust($primary, $blue: 50%);
    }

    .btn-waterWave {
      background: color.adjust($primary, $lightness: 60%, $alpha: -0.5);
    }
  }

  &-danger {
    background: $danger;
    border-color: $danger;
    color: $font-color;

    &:hover {
      background: color.adjust($danger, $red: 50%);
    }

    .btn-waterWave {
      background: color.adjust($danger, $lightness: 30%, $alpha: -0.5);
    }
  }

  &-ghost {
    background-color: $disable-ghost-color;
    border-color: $ghost;
    color: $font-color;

    &:hover {
      background: transparent;
      color: $primary;
      border-color: $primary;
    }

    .btn-waterWave {
      background: color.adjust($font-color, $blue: 30%, $alpha: -0.5);
    }
  }

  &-link {
    color: $link;
    border: none;
    background: #fff;

    &:hover {
      color: color.adjust($link, $green: 50%);
    }

    .btn-waterWave {
      background: color.adjust($link, $green: 50%, $alpha: -0.5);
    }
  }

  &-large {
    border-radius: $large-border-radius;
    padding: $large-padding;
    font-size: $large-font-size;
    border-width: $large-border-width;
  }

  &-normal {
    border-radius: $normal-border-radius;
    padding: $normal-padding;
    font-size: $normal-font-size;
    border-width: $normal-border-width;
  }

  &-small {
    border-radius: $small-border-radius;
    padding: $small-padding;
    font-size: $small-font-size;
    border-width: $small-border-width;
  }

  &-block {
    display: block;
    width: 100%;
  }
}