@import '../../config/styles/them.scss';
.btn{
  background: #fff;
  color: $text;
}

.btn-primary{
  background: $primary
}

.btn-danger{
  background:  $danger
}

.btn-ghost{
  background: $ghost
}

.btn-link{
  color:  $link
}

.btn-large{
  height: $large-line-hight;
  border-radius: $large-border-radius; 
}

.btn-normal{
  height: $normal-line-hight;
  border-radius: $normal-border-radius; 
}

.btn-small{
  height: $small-line-hight;
  border-radius: $small-border-radius; 
}


